<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <style type="text/css">
        html, body {
            font: 16pt arial;
        }

        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }
    </style>
    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

</head>
<script type="text/javascript">

    var viz;

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://44.192.111.77:7687",
            server_user: "neo4j",
            server_password: "tools-wonder-surveys",
            labels: {
                
            },
            relationships: {
                
            },
            initial_cypher: "MATCH p=(:Character)-[:INTERACTS]->(:Character) RETURN p LIMIT 100"
        };
        
        viz = new NeoVis.default(config);
        console.log(viz)
        viz.render();
    }
</script>

<body onload="draw()">
   
    <div id="viz"></div>
                           
</body>

</html>